* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #eaeaea;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}


.left-box {
    width: 50%;
    background: #f9f5e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.logo {
    width: 150px;
    margin-bottom: 10px;
}

.left-box h3 {
    margin-bottom: 30px;
    font-weight: bold;
}

.left-box label {
    width: 70%;
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
}

.left-box input {
    width: 70%;
    padding: 10px;
    border: 2px solid #96b570;
    border-radius: 15px;
    margin-bottom: 10px;
    outline: none;
}

.login-btn {
    width: 70%;
    padding: 12px;
    background: #4d8b23;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.register-text {
    margin-top: 20px;
    font-size: 14px;
}

.register-text a {
    color: #2d7d00;
    font-weight: bold;
    text-decoration: none;
}

.social-icons {
    margin-top: 20px;
}

.social-icons i {
    font-size: 22px;
    margin: 0 8px;
    color: #2d7d00;
    cursor: pointer;
}


.right-box {
    width: 50%;
    background: linear-gradient(135deg, #0e5a29, #67c221);
    position: relative;
    overflow: hidden;
}


.right-box::before,
.right-box::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 600px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    transform: rotate(35deg);
}

.right-box::before {
    top: -50px;
    right: 30px;
}
.right-box::after {
    bottom: -50px;
    right: 120px;
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }
    .left-box, .right-box {
        width: 100%;
        height: 50%;
    }
}
