* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #E6E1CF;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}


.left-box {
    width: 50%;
    background: #E6E1CF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.logo {
    max-width: 100%;
    height: auto;
    display: flex;
    
}

.left-box h3 {
    margin-bottom: 30px;
    font-weight: bold;
}

.left-box label {
    width: 70%;
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
}

.left-box input {
    width: 70%;
    padding: 10px;
    border: 2px solid #96b570;
    border-radius: 15px;
    margin-bottom: 10px;
    outline: none;
}

.login-btn {
    width: 70%;
    padding: 12px;
    background: #4d8b23;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.register-text {
    margin-top: 20px;
    font-size: 14px;
}

.register-text a {
    color: #2d7d00;
    font-weight: bold;
    text-decoration: none;
}

.social-icons {
    margin-top: 20px;
}

.social-icons i {
    font-size: 22px;
    margin: 0 8px;
    color: #2d7d00;
    cursor: pointer;
}


.left-box {
     max-width: 100%;
    height: auto;
    display: flex;
    border-radius: 20px 20px 20px 20px;
}



