* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f4e6;
}

.container {
  width: 90%;
  max-width: 1000px;
  height: 550px;
  display: flex;
  background: #fdf9ef;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* Left panel */
.left-panel {
  flex: 1;
  background: linear-gradient(135deg, #006837, #76b852);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Right panel */
.right-panel {
  flex: 1;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-panel h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border: 1px solid #99cc99;
  border-radius: 20px;
  margin-bottom: 15px;
  outline: none;
}

input:focus {
  border-color: #4CAF50;
}

button {
  background-color: #558b2f;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

button:hover {
  background-color: #33691e;
}

.login-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.login-text a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

.social-icons a {
  color: #004d40;
  font-size: 18px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #2e7d32;
}
